@model List<GetFeaturedPetsDto>
<section class="featured-pets">
    <div class="container">
        <h2 class="section-title">Öne Çıkan Dostlarımız</h2>

        <div class="row">
            <!-- Örnek Hayvan Kartı 1 - Kedi -->
            @foreach(var item in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <img src="https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1000&q=80"
                             class="index-card-img" alt="@item.Name">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <div class="pet-tags">
                                <span class="pet-tag">@item.PetTypeName</span>
                                <span class="pet-tag">@item.Age Yaş</span>
                            </div>
                            <p class="card-text mt-2">
                               @item.Description
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="/Pet/Details/1" class="btn btn-primary">Detaylar</a>
                                <span><i class="fas fa-heart text-danger"></i> @item.LikeCount</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
            
        </div>
    </div>
</section>